.Card {
  width: max-content;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.26);
  min-width: 400px;
  min-height: 200px;
}
