.content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  width: 470px;
  height: auto;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  border: 1px solid #edeef0;

  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.26);
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
}
.text-signup {
  font-weight: 600;
  color: #1c1e21;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 0;
}
.text-slogan {
  color: #606770;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
}
.line {
  width: 100%;
  position: absolute;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #abafb4;
  align-self: center;
}
.div-header {
  padding: 15px;
  padding-bottom: 0px;
}
.div-body {
  padding: 10px;
  text-align: center;
  padding-bottom: 0px;
}
.div-name {
  display: flex;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 5px;
}
.input {
  margin-top: 10px;
  width: 90%;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #c4c6ca;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f5f6f7;
}
.input-half {
  margin-top: 10px;
  width: 41%;
  height: 30px;
  border-radius: 5px;
  background-color: #f5f6f7;
  padding: 5px;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #c4c6ca;
  padding-left: 15px;
  padding-right: 15px;
}

.input:focus {
  outline: none !important;
  border-color: #1877f2;
}
input:focus::-webkit-input-placeholder {
  color: #abafb4;
}
select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #c4c6ca;
  font-size: 15px;
}
.dob-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-left: 7px;
  margin-right: 7px;
}
.dob-item1 {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #c4c6ca;
}
p {
  text-align: left;
  margin-top: 10px;
  margin-bottom: -10px;
  margin-left: 10px;
  color: #606770;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}
.tos {
  font-size: 11px;
  text-align: left;
  line-height: 1.34;
  color: #777;
  margin-left: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.regButton {
  padding: 10px;

  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;

  width: auto;
  background-color: #42b72a;
  border: none;
  border-radius: 7px;
  color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 600;
}
.regButton:hover {
  background: linear-gradient(#79bc64, #578843);
}

.exit {
  position: absolute;
  right: 3%;
  margin-top: 10px;
}
.err {
  font-size: 15px;
  color: crimson;
  margin-top: -10px;
  margin-bottom: 5px;
}
