.untra-main-container {
  margin-top: 56px;
  display: flex;
  align-content: center;
  overflow-x: hidden;
  white-space: nowrap;
  justify-content: center;
}
.main-container {
  height: 100%;
  width: 100%;
  max-width: 700px;
}
.story-container {
  margin-top: 25px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 15px;

  overflow: hidden;
}
