.card-container {
  height: 95%;
  width: 100%;
  background-color: rgb(118, 138, 138);
}
.img-container {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 1200px) {
  .card-container:nth-child(5) {
    height: 0px;
  }
}
